<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-grid-left.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:46 GMT -->

<head>
    <meta charset="utf-8">
    <title>Fashion Club</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/public/image/Screenshot 2024-02-24 095808.jpg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="public/user-assets/css/maind134.css?v=3.4">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-***" crossorigin="anonymous" />
</head>

<body>
    <!-- Quick view -->

    <header class="header-area header-style-1 header-height-2">
        <div class="header-top header-top-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info">
                            <ul>

                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-4">
                        <div class="text-center">
                            <div id="news-flash" class="d-inline-block">
                                <ul>
                                    <li style="color: #2B1754;">Snatch Sale is Live! Get your apparels now!</l>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info header-info-right">
                            <ul>
                                <% if (locals.users) { %>
                                    <li><i class="fi-rs-user"></i><a href="/login">Log In</a></li>
                                   
                                    <% } else { %>
                                        <li class="dropdown nav-item">
                                            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#"
                                                id="dropdownAccount" aria-expanded="false">
                                                <i class="fas fa-user"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                                               
                                                <a class="dropdown-item" href="user-account"><i
                                                        class="material-icons md-settings"></i>Account </a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item text-danger" href="/logout"><i
                                                        class="material-icons md-exit_to_app"></i>Logout</a>
                                            </div>
                                        </li>
                                        <% } %>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="header-wrap">
                    <div class="logo logo-width-1">
                        <a href=""><img src="/public/image/fashion club logo.jpg" alt="logo"></a>
                    </div>
                    <div class="header-right">
                        <div class="search-style-2">

                            <div>
                              <form action="/shop" method="GET">
                                <div class="header-search-wrapper w-100">
              
                                  <div>
                                    <input type="search" class="form-control w-100" id="searchInput" placeholder="Search in..."
                                      required autocomplete="off" name="search">
                                    <a href="#" class="search-toggle" role="button">
                                      <i class="icon-search"></i>
                                    </a>
                                  </div>
                                </div><!-- End .header-search-wrapper -->
                              </form>
                              <ul id="suggestionList"></ul>
                            </div>
              
                        </div>
                        <div class="header-action-right">
                            <div class="header-action-2">
                                <div class="header-action-icon-2">
                                    <a href="/user-wishlist">
                                        <img class="svgInject" alt="Evara"
                                            src="public/user-assets/imgs/theme/icons/icon-heart.svg">
                                    </a>
                                </div>
                                <div class="header-action-icon-2">
                                    <a class="mini-cart-icon" href="/user-cart">
                                        <img alt="Evara" src="public/user-assets/imgs/theme/icons/icon-cart.svg">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1 d-block d-lg-none">
                        <a href="index.html"><img src="public/user-assets/imgs/theme/logo.svg" alt="logo"></a>
                    </div>
                    <div class="header-nav d-none d-lg-flex">
                        <div class="main-categori-wrap d-none d-lg-block">
                            <a class="categori-button-active" href="#">
                                <span></span>
                                <span></span>
                            </a>
                            <div class="categori-dropdown-wrap categori-dropdown-active-large">
                                <ul>

                                </ul>
                                <div></div>
                            </div>
                        </div>
                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                            <nav>
                                <ul>
                                    <li><a class="active" href="/home-page">Home</a>
                                        <ul>
                                        </ul>
                                    </li>
                                    <li><a href="/shop">Shop</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="hotline d-none d-lg-block">
                    </div>
                    <p class="mobile-promotion">Happy <span class="text-brand">Mother's Day</span>. Big Sale Up to 40%
                    </p>
                    <div class="header-action-right d-block d-lg-none">
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a href="shop-wishlist.html">
                                    <img alt="Evara" src="public/user-assets/imgs/theme/icons/icon-heart.svg">
                                    <span class="pro-count white">4</span>
                                </a>
                            </div>
                            <div class="header-action-icon-2">
                                <a class="mini-cart-icon" href="shop-cart.html">
                                    <img alt="Evara" src="public/user-assets/imgs/theme/icons/icon-cart.svg">
                                    <span class="pro-count white">2</span>
                                </a>
                                <div class="cart-dropdown-wrap cart-dropdown-hm2">
                                    <ul>
                                        <li>
                                            <div class="shopping-cart-img">
                                                <a href="shop-product-right.html"><img alt="Evara"
                                                        src="public/user-assets/imgs/shop/thumbnail-3.jpg"></a>
                                            </div>
                                            <div class="shopping-cart-title">
                                                <h4><a href="shop-product-right.html">Plain Striola Shirts</a></h4>
                                                <h3><span>1 × </span>$800.00</h3>
                                            </div>
                                            <div class="shopping-cart-delete">
                                                <a href="#"><i class="fi-rs-cross-small"></i></a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="shopping-cart-img">
                                                <a href="shop-product-right.html"><img alt="Evara"
                                                        src="public/user-assets/imgs/shop/thumbnail-4.jpg"></a>
                                            </div>
                                            <div class="shopping-cart-title">
                                                <h4><a href="shop-product-right.html">Macbook Pro 2022</a></h4>
                                                <h3><span>1 × </span>$3500.00</h3>
                                            </div>
                                            <div class="shopping-cart-delete">
                                                <a href="#"><i class="fi-rs-cross-small"></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="shopping-cart-footer">
                                        <div class="shopping-cart-total">
                                            <h4>Total <span>$383.00</span></h4>
                                        </div>
                                        <div class="shopping-cart-button">
                                            <a href="shop-cart.html">View cart</a>
                                            <a href="shop-checkout.html">Checkout</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="header-action-icon-2 d-block d-lg-none">
                                <div class="burger-icon burger-icon-white">
                                    <span class="burger-icon-top"></span>
                                    <span class="burger-icon-mid"></span>
                                    <span class="burger-icon-bottom"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="mobile-header-active mobile-header-wrapper-style">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-top">
                <div class="mobile-header-logo">
                    <a href="index.html"><img src="public/user-assets/imgs/theme/logo.svg" alt="logo"></a>
                </div>
                <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                    <button class="close-style search-close">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button>
                </div>
            </div>
            <div class="mobile-header-content-area">
                <div class="mobile-search search-style-3 mobile-header-border">
                    <form action="#">
                        <input type="text" placeholder="Search for items…">
                        <button type="submit"><i class="fi-rs-search"></i></button>
                    </form>
                </div>
                <div class="mobile-menu-wrap mobile-header-border">
                    <div class="main-categori-wrap mobile-header-border">
                        <a class="categori-button-active-2" href="#">
                            <span class="fi-rs-apps"></span> Browse Categories
                        </a>
                        <div class="categori-dropdown-wrap categori-dropdown-active-small">
                            <ul>
                                <li><a href="shop-grid-right.html"><i class="evara-font-dress"></i>Women's Clothing</a>
                                </li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-tshirt"></i>Men's Clothing</a>
                                </li>
                                <li> <a href="shop-grid-right.html"><i class="evara-font-smartphone"></i> Cellphones</a>
                                </li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-desktop"></i>Computer &
                                        Office</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-cpu"></i>Consumer
                                        Electronics</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-home"></i>Home & Garden</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-high-heels"></i>Shoes</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-teddy-bear"></i>Mother &
                                        Kids</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-kite"></i>Outdoor fun</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- mobile menu start -->
                    <nav>
                        <ul class="mobile-menu">
                            <li class="menu-item-has-children"><span></span><a
                                    href="SnatchIt-Home">Home</a>
                            </li>
                            <li class="menu-item"><span></span><a
                                    href="/shop">Shop</a>
                            </li>
                        </ul>
                    </nav>
                    <!-- mobile menu end -->
                </div>
                <div class="mobile-header-info-wrap mobile-header-border">
                    <div class="single-mobile-header-info mt-30">
                        <a href="page-contact.html"> Our location </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="page-login-register.html">Log In / Sign Up </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="#">(+01) - 2345 - 6789 </a>
                    </div>
                </div>
                <div class="mobile-social-icon">
                    <h5 class="mb-15 text-grey-4">Follow Us</h5>
                    <a href="#"><img src="public/user-assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                    <a href="#"><img src="public/user-assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                    <a href="#"><img src="public/user-assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                    <a href="#"><img src="public/user-assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                    <a href="#"><img src="public/user-assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/home-page" rel="nofollow">Home</a>
                    <span></span> Shop
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row flex-row-reverse">
                    <div class="col-lg-9">
                        <div class="shop-product-fillter">

                            <div class="sort-by-product-area">
                                <div class="sort-by-cover mr-10">
                                    
                                </div>
                                <div class="sort-by-cover">
                                    
                                    <div id="sorter">
                                        <% if (normalSorted=="Ascending") { %>
                                            <select name="" id="normalSorter" class="form-select" style=" border-radius: 18px;">
                                                <option value="Ascending" style="font-size: 16px;">Price: Low to High</option>
                                                <option value="Descending" style="font-size: 16px;">Price: High to Low</option>
                                                <option value="Alpha" style="font-size: 16px;">Aa-Zz</option>                     
                                                </select>
                                                <% } else if (normalSorted=="Descending") { %>
                                                    <select name="" id="normalSorter" class="form-select" style=" border-radius: 18px;">
                                                    <option value="Descending" style="font-size: 16px;">Price: High to Low</option>
                                                    <option value="Ascending" style="font-size: 16px;">Price: Low to High</option>
                                                    <option value="Alpha" style="font-size: 16px;">Aa-Zz</option>  
                                                </select>
                                                    <% } else if (normalSorted=="Alpha") { %>
                                                        <select name="" id="normalSorter" class="form-select" style=" border-radius: 18px;">
                                                        <option value="Alpha" style="font-size: 16px;">Aa-Zz</option>
                                                        <option value="Ascending" style="font-size: 16px;">Price: Low to High</option>
                                                        <option value="Descending" style="font-size: 16px;">Price: High to Low</option>
                                                    </select>
                                                        <% } else { %>
                                                            <select name="" id="normalSorter" class="form-select" style=" border-radius: 18px;">
                                                                <option value="Ascending" style="font-size: 16px;">Price: Low to High</option>
                                      <option value="Descending" style="font-size: 16px;">Price: High to Low</option>
                                      <option value="Alpha" style="font-size: 16px;">Aa-Zz</option>
                                                              </select>
                                        <% } %>
                                      
                                    </div>

                                </div>
                            </div>
                        </div>
                        <input type="text" id="products" value="<%= JSON.stringify(products) %>" hidden>
                        <div class="row product-grid-3">
                            <% for( let i=0; i < products.length; i++ ) { %>
                                <div class="col-lg-4 col-md-4  col-sm-6">
                                    <div class="product-cart-wrap mb-30">
                                        <div class="product-img-action-wrap">
                                            <div class="product-img product-img-zoom">
                                                <a href="/user-productPage/<%= products[i]._id %>">
                                                    <img class="default-img" src="public/uploads/<%= products[i].image[0] %>" alt="" />
                                                    <img class="hover-img" src="/public/uploads/<%= products[i].image[1] %>" alt="" />
                                                </a>
                                            </div>
                                            <div class="product-action-1">
                                               
                                                <a aria-label="Add To Wishlist" class="action-btn hover-up" href="#"><i
                                                        class="fi-rs-heart"></i></a>
                                                
                                            </div>
                                            <div class="product-badges product-badges-position product-badges-mrg">
                                                <span class="hot">Hot</span>
                                            </div>
                                        </div>
                                        <div class="product-content-wrap">
                                            <% if (sorted) { %>
                                                <div class="product-category">
                                                    <a href="#">
                                                        <%= products[i].category.name %>
                                                    </a>
                                                </div>
                                                <% } else { %>
                                                    <div class="product-category">
                                                        <a href="#">
                                                            <%= products[i].category[0].name %>
                                                        </a>
                                                    </div>
                                                    <% } %>

                                                        <h2>
                                                            <a href="#">
                                                                <%= products[i].name %>
                                                            </a>
                                                        </h2>
                                                        <div class="rating-result" title="90%">
                                                            <span>
                                                                <span>
                                                                    
                                                                </span>
                                                            </span>
                                                        </div>
                                                        <div class="product-price">
                                                            <span class="text-dark">
                                                                ₹ <%= products[i].productprice     %>
                                                               

                                                            </span>
                                                            <span class="old-price">
                                                                <%= products[i].offerprice %>
                                                            </span>
                                                        </div>
                                                        <div class="product-action-1 show">
                                                            <a aria-label="Add To Cart" class="action-btn hover-up"
                                                                href="shop-cart.html"><i
                                                                    class="fi-rs-shopping-bag-add"></i></a>
                                                        </div>
                                        </div>
                                    </div>
                                </div>
                                <% } %>

                        </div>
                        <div id="pageDiv">

                        </div>
                        <!--pagination-->
                        <div id="paginationLinks" class="d-flex">
                            <!-- Pagination links will be dynamically added here -->
                           <% if (sorted) { %>
                            <% for( let i = 1; i <= totalPages; i++ ) { %>
                                <a href="/shop?search=<%=payload%>&page=<%= i %>" class="page-link"><%= i %></a>
                             <% } %>
                             <% } else if (normalSorted) { %>
                              <% for( let i = 1; i < totalPages; i++ ) { %>
                                <a href="/shop?filter=<%=filter%>&page=<%= i %>" class="page-link"><%= i %></a>
                              <% } %>
                            <% } else { %>
                                <% for( let i = 1; i <= totalPages; i++ ) { %>
                                    <a href="/shop?page=<%= i %>" class="page-link"><%= i %></a>
                                 <% } %>
                           <% } %>
                             
                            
                           
                        </div>
                        

                    </div>
                    <div class="col-lg-3 primary-sidebar sticky-sidebar">
                        <div class="widget-category mb-30">
                            <h5 class="section-title style-1 mb-30 wow fadeIn animated">Category Filter</h5>
                            <select name="" id="categoryFilter" class="form-select" style=" border-radius: 18px;">
                                <% for( let i=0; i < categories.length; i++ ) { %>
                                    <option value="<%= categories[i]._id %>
                                        " class="form-select-input" style="font-size: 16px;">
                                        <%= categories[i].name %>
                                    </option>
                                    <% } %>

                            </select>

                        </div>

                    </div>
                </div>
            </div>
            </div>
        </section>
    </main>
    <footer class="main">
        <section class="newsletter p-30 text-white wow fadeIn animated">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 mb-md-3 mb-lg-0">
                        <div class="row align-items-center">
                            <div class="col flex-horizontal-center">
                                <img class="icon-email" src="public/user-assets/imgs/theme/icons/icon-email.svg" alt="">
                                <h4 class="font-size-20 mb-0 ml-3">Sign up to Newsletter</h4>
                            </div>
                            <div class="col my-4 my-md-0 des">
                                <h5 class="font-size-15 ml-4 mb-0">...and receive <strong>₹25 coupon for first
                                        shopping.</strong></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <!-- Subscribe Form -->
                        <form class="form-subcriber d-flex wow fadeIn animated">
                            <input type="email" class="form-control bg-white font-small" placeholder="Enter your email">
                            <button class="btn bg-dark text-white" type="submit">Subscribe</button>
                        </form>
                        <!-- End Subscribe Form -->
                    </div>
                </div>
            </div>
        </section>
        <section class="section-padding footer-mid">
            <div class="container pt-15 pb-20">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="widget-about font-md mb-md-5 mb-lg-0">
                            <div class="logo logo-width-1 wow fadeIn animated">
                                <a href=""><img src="/public/image/fashion club logo.jpg" alt="logo"></a>
                            </div>
                            <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
                            <p class="wow fadeIn animated">
                                <strong>Address: </strong>562 Wellington Road, Street 32, San Francisco
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Phone: </strong>+01 2222 365 /(+91) 01 2345 6789
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Hours: </strong>10:00 - 18:00, Mon - Sat
                            </p>
                            <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
                            <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                                <a href="#"><img src="public/user-assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                                <a href="#"><img src="public/user-assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                                <a href="#"><img src="public/user-assets/imgs/theme/icons/icon-instagram.svg"
                                        alt=""></a>
                                <a href="#"><img src="public/user-assets/imgs/theme/icons/icon-pinterest.svg"
                                        alt=""></a>
                                <a href="#"><img src="public/user-assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <h5 class="widget-title wow fadeIn animated">About</h5>
                        <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Delivery Information</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms &amp; Conditions</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Support Center</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2  col-md-3">
                        <h5 class="widget-title wow fadeIn animated">My Account</h5>
                        <ul class="footer-list wow fadeIn animated">
                            <li><a href="#">Sign In</a></li>
                            <li><a href="#">View Cart</a></li>
                            <li><a href="#">My Wishlist</a></li>
                            <li><a href="#">Track My Order</a></li>
                            <li><a href="#">Help</a></li>
                            <li><a href="#">Order</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <h5 class="widget-title wow fadeIn animated">Install App</h5>
                        <div class="row">
                            <div class="col-md-8 col-lg-12">
                                <p class="wow fadeIn animated">From App Store or Google Play</p>
                                <div class="download-app wow fadeIn animated">
                                    <a href="#" class="hover-up mb-sm-4 mb-lg-0"><img class="active"
                                            src="public/user-assets/imgs/theme/app-store.jpg" alt=""></a>
                                    <a href="#" class="hover-up"><img
                                            src="public/user-assets/imgs/theme/google-play.jpg" alt=""></a>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-12 mt-md-3 mt-lg-0">
                                <p class="mb-20 wow fadeIn animated">Secured Payment Gateways</p>
                                <img class="wow fadeIn animated" src="public/user-assets/imgs/theme/payment-method.png"
                                    alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container pb-20 wow fadeIn animated">
            <div class="row">
                <div class="col-12 mb-20">
                    <div class="footer-bottom"></div>
                </div>
                <div class="col-lg-6">
                    <p class="float-md-left font-sm text-muted mb-0">&copy; 2022, <strong
                            class="text-brand">Evara</strong> - HTML Ecommerce Template </p>
                </div>
                <div class="col-lg-6">
                    <p class="text-lg-end text-start font-sm text-muted mb-0">
                        Designed by <a href="http://alithemes.com/" target="_blank">Alithemes.com</a>. All rights
                        reserved
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor JS-->
    <script src="public/user-assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="public/user-assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="public/user-assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="public/user-assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="public/user-assets/js/plugins/slick.js"></script>
    <script src="public/user-assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="public/user-assets/js/plugins/wow.js"></script>
    <script src="public/user-assets/js/plugins/jquery-ui.js"></script>
    <script src="public/user-assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="public/user-assets/js/plugins/magnific-popup.js"></script>
    <script src="public/user-assets/js/plugins/select2.min.js"></script>
    <script src="public/user-assets/js/plugins/waypoints.js"></script>
    <script src="public/user-assets/js/plugins/counterup.js"></script>
    <script src="public/user-assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="public/user-assets/js/plugins/images-loaded.js"></script>
    <script src="public/user-assets/js/plugins/isotope.js"></script>
    <script src="public/user-assets/js/plugins/scrollup.js"></script>
    <script src="public/user-assets/js/plugins/jquery.vticker-min.js"></script>
    <script src="public/user-assets/js/plugins/jquery.theia.sticky.js"></script>
    <script src="public/user-assets/js/plugins/jquery.elevatezoom.js"></script>
    <!-- Template  JS -->
    <script src="public/user-assets/js/maind134.js?v=3.4"></script>
    <script src="public/user-assets/js/shopd134.js?v=3.4"></script>

    <script>
        const priceSorter = (value) => {

            if (!document.getElementById("sortedProducts")) {
                const result = document.getElementById("products").value;
                console.log(result)
                $.ajax({
                    url:` /priceSort/${value}`,
                    method: "POST",
                    data: { products: result },
                    success: (response) => {
                        updateProductGrid(response.products);

                    }
                })
            } else {
                const result = document.getElementById("sortedProducts").value;
                console.log(result)
                $.ajax({
                    url:` /priceSort/${value}`,
                    method: "POST",
                    data: { products: result },
                    success: (response) => {
                        updateProductGrid(response.products);

                    }
                })
            }

        }
    </script>

    <script>
        const alphaSorter = () => {

            if (!document.getElementById("sortedProducts")) {
                const result = document.getElementById("products").value;
                $.ajax({
                    url: "/alphaSort",
                    method: "POST",
                    data: { products: result },
                    success: (response) => {
                        updateProductGrid(response.products);
                    }
                })
            } else {
                const result = document.getElementById("sortedProducts").value;
                $.ajax({
                    url: "/alphaSort",
                    method: "POST",
                    data: { products: result },
                    success: (response) => {
                        updateProductGrid(response.products);
                    }
                })
            }
        }
    </script>

   

    <script>
        // Function to fetch and display products based on search, filter, sort, and pagination
        const fetchProducts = (event,page) => {
            console.log("fetched");
            // const searchQuery = document.getElementById('searchInput').value;
            const categoryFilter = $('#categoryFilter').val();
            const sortOption = $('#sortOptions').val();
            const currentPage = page||1; // Initial page
            const limitPerPage = 10; // Number of products per page
            console.log(currentPage)

            const url = `/shopFilter?category=${categoryFilter}&sort=${sortOption}&page=${currentPage}&limit=${limitPerPage};`
            console.log(url)

            $.ajax({
                url: url,
                method: 'GET',
                success: function (data) {
                    console.log(data)
                    const products = data.products;
                    const pageInfo = data.pageInfo;

                    // Update the product list on the page based on the fetched products
                    const productGrid = $('.product-grid-3');
                    productGrid.empty(); // Clear previous products

                    products.forEach(product => {
                        const productDiv = $('<div></div>').addClass('col-lg-4 col-md-4 col-sm-6');
                        productDiv.html(`
     
     <div class="product-cart-wrap mb-30">
                                       <div class="product-img-action-wrap">
                                           <div class="product-img product-img-zoom">
                                               <a href="/user-productPage/${product._id}">
                                                   <img class="default-img" src="/${product.image[0]}" alt="">
                                                   <img class="hover-img" src="/${product.image[1]}" alt="">
                                               </a>
                                           </div>
                                           <div class="product-action-1">
                                               <a aria-label="Quick view" class="action-btn hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="fi-rs-eye"></i></a>
                                               <a aria-label="Add To Wishlist" class="action-btn hover-up" href="#"><i class="fi-rs-heart"></i></a>
                                               <a aria-label="Compare" class="action-btn hover-up" href="#"><i class="fi-rs-shuffle"></i></a>
                                           </div>
                                           
                                       </div>
                                       <div class="product-content-wrap">
                                           
                                               <div class="product-category">
                                                   <a href="#">
                                                       ${product.category[0].name}
                                                   </a>
                                               </div>
                                               
                                                       <h2>
                                                           <a href="#">
                                                               ${product.name}
                                                           </a>
                                                       </h2>
                                                       <div class="rating-result" title="90%">
                                                           <span>
                                                               <span>
                                                                   80%
                                                               </span>
                                                           </span>
                                                       </div>
                                                       <div class="product-price">
                                                           <span class="text-dark">
                                                               ${product.offerPrice}

                                                           </span>
                                                           <span class="old-price">
                                                               ${product.productPrice}
                                                           </span>
                                                       </div>
                                                       <div class="product-action-1 show">
                                                           <a aria-label="Add To Cart" class="action-btn hover-up" href="shop-cart.html"><i class="fi-rs-shopping-bag-add"></i></a>
                                                       </div>
                                       </div>                                 
                                   `);
                        productGrid.append(productDiv); // Append the new product to the grid
                    });

                    // const paginationInfo = Page ${currentPage} of ${pageInfo.totalPages};
                    // document.getElementById('paginationInfo').textContent = paginationInfo;

                    updatePaginationLinks(currentPage, data.totalPages);
                    updateFilterOptions(data.sorted);
                   
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error('Error fetching products:', errorThrown);
                }
            });
        };


        $('#categoryFilter').on('change', fetchProducts);
        $('#sortOptions').on('change', fetchProducts);


    </script>

    <script>
        const updatePaginationLinks = (currentPage, totalPages) => {
            // Clear previous pagination links
            $('#paginationLinks').empty();

            // Generate and append new pagination links based on the current page and total pages
            for (let i = 1; i <= totalPages; i++) {
                const pageLink = $(<a href="#" class="page-link">${i}</a>);
                pageLink.on('click', function () {
                    fetchProducts(0,i); // Fetch products for the selected page
                });
                $('#paginationLinks').append(pageLink);
            }
        
        };
    </script>

    <script>
        const updateFilterOptions=(sorted)=>{
            $("#sorter").empty();
            let option;
            if(sorted=="Ascending"){
                option=$(`
                <select name="" id="sortOptions" class="form-select" style=" border-radius: 18px;">
                <option value="Ascending" style="font-size: 16px;">Price: Low to High</option>
                <option value="Descending" style="font-size: 16px;">Price: High to Low</option>
                <option value="Alpha" style="font-size: 16px;">Aa-Zz</option>                     
                </select>
        `);
            }else if(sorted=="Descending"){
                option=$(`
                <select name="" id="sortOptions" class="form-select" style=" border-radius: 18px;">
                <option value="Descending" style="font-size: 16px;">Price: High to Low</option>
                <option value="Ascending" style="font-size: 16px;">Price: Low to High</option>
                <option value="Alpha" style="font-size: 16px;">Aa-Zz</option>                    
                </select>
        `);
            }else{
                option=$(`
                <select name="" id="sortOptions" class="form-select" style=" border-radius: 18px;">
                <option value="Alpha" style="font-size: 16px;">Aa-Zz</option>  
                <option value="Descending" style="font-size: 16px;">Price: High to Low</option>
                <option value="Ascending" style="font-size: 16px;">Price: Low to High</option>
                    
                </select>
        `);
            }         
        $("#sorter").append(option);
        $('#sortOptions').on('change', fetchProducts);

   
    }
    </script>

    <script>
        document.getElementById("normalSorter").addEventListener("change",()=>{
            const normalFilter = $('#normalSorter').val();
            window.location.href=`/shop?filter=${normalFilter}`
        })
    </script>


<script>
    document.addEventListener('click', function (event) {
      const suggestionList = document.getElementById('suggestionList');
      const isClickInside = suggestionList.contains(event.target);

      if (!isClickInside) {
        suggestionList.innerHTML = ''; // Hide the suggestions by clearing the innerHTML
      }
    });

    let searchElement = document.getElementById('searchInput');
    searchElement.onkeyup = function () {
      let searchWord = searchElement.value;
      console.log("searchWord", searchWord);
      if (searchWord != '') {
        loadData(searchWord);
      } else {
        document.getElementById('suggestionList').innerHTML = ''
      }

    }

    function loadData(query='') {
    console.log(query);
    $.ajax({
        url: '/searchProduct',
        type: 'POST',
        data: { payload: query },
        success: function(data) {
            console.log("res block start");
            console.log(data);
            let searchResult = data.searchResult;
            console.log("Hiii", searchResult);

            let html = ''
            console.log(data.searchResult.length);
            if (data.searchResult.length > 0) {
                for (let i = 0; i < data.searchResult.length; i++) {
                    console.log("in loop", data.searchResult[i].name);
                    // html += `<a href="/shop/${data.searchResult[i]._id}"><li style="display:flex;justify-content:space-evenly;text-align: center; border-bottom: 2px solid #acb1b5; width:80%% ;padding:10px"> ${data.searchResult[i].name} <img class="img-thumbnail" width="50" src="/${data.searchResult[i].image[0]}" alt="no image avalable"></li></a>`;
                }
                $('#suggestionList').html(html); // Update suggestionList
            }
            console.log("end");
        },
        error: function(xhr, status, error) {
            console.error('Error:', error);
        }
    });
}

  </script>

      




</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-grid-left.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:46 GMT -->

</html>