<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/page-account.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:11:15 GMT -->

<head>
    <meta charset="utf-8">
    <title>Fashion Club</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/public/image/Screenshot 2024-02-24 095808.jpg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/public/user-assets/css/maind134.css?v=3.4">

    <link rel="stylesheet" href="styles.css">

    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.6.1/toastify.min.css">
</head>

<body>
    <header class="header-area header-style-5">
        <div class="header-top header-top-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info">
                            <ul>
                                <li><i class="fi-rs-smartphone"></i> <a href="#">(+01) - 2345 - 6789</a></li>
                                <li><i class="fi-rs-marker"></i><a href="page-contact.html">Our location</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-4">
                        <div class="text-center">
                            <div id="news-flash" class="d-inline-block">
                                <ul>
                                    <li>Get great devices up to 50% off <a href="shop-grid-right.html">View details</a>
                                    </li>
                                    <li>Supper Value Deals - Save more with coupons</li>
                                    <li>Trendy 25silver jewelry, save up 35% off today <a
                                            href="shop-grid-right.html">Shop now</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info header-info-right">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom sticky-bar sticky-white-bg">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1">
                        <a href="index.html"><img src="/public/image/fashion club logo.jpg " alt=logo></a>
                    </div>
                    <div
                        class="main-menu main-menu-grow main-menu-padding-1 main-menu-lh-1 main-menu-mrg-1 hm3-menu-padding d-none d-lg-block hover-boder">
                        <nav>
                            <ul>
                                <li><a class="active" href="/home-page">Home </i></a>
                                   
                                </li>
                                <li><a href="/shop">Shop </i></a>
                                   
                                </li>


                    </div>
                    <div class="header-action-right">

                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a href="/user-wishlist">
                                    <img class="svgInject" alt="Evara"
                                        src="/public/user-assets/imgs/theme/icons/icon-heart.svg">
                                    <!-- <span class="pro-count blue">4</span> -->
                                </a>
                            </div>
                            <div class="header-action-icon-2">
                                <a class="mini-cart-icon" href="/user-cart">
                                    <img alt="Evara" src="/public/user-assets/imgs/theme/icons/icon-cart.svg">
                                    <!-- <span class="pro-count blue">2</span> -->
                                </a>

                            </div>
                            <div class="header-action-icon d-block d-lg-none">
                                <div class="burger-icon">
                                    <span class="burger-icon-top"></span>
                                    <span class="burger-icon-mid"></span>
                                    <span class="burger-icon-bottom"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="mobile-header-active mobile-header-wrapper-style">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-top">
                <div class="mobile-header-logo">
                    <a href="index.html"><img src="/public/image/fashion club logo.jpg" alt="logo"></a>
                </div>
                <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                    <button class="close-style search-close">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button>
                </div>
            </div>
            <div class="mobile-header-content-area">
                <div class="mobile-search search-style-3 mobile-header-border">
                    <form action="#">
                        <input type="text" placeholder="Search for items…">
                        <button type="submit"><i class="fi-rs-search"></i></button>
                    </form>
                </div>
                <div class="mobile-menu-wrap mobile-header-border">
                    <div class="main-categori-wrap mobile-header-border">
                        <a class="categori-button-active-2" href="#">
                            <span class="fi-rs-apps"></span> Browse Categories
                        </a>
                        <div class="categori-dropdown-wrap categori-dropdown-active-small">
                            <ul>
                                <li><a href="shop-grid-right.html"><i class="evara-font-dress"></i>Women's Clothing</a>
                                </li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-tshirt"></i>Men's Clothing</a>
                                </li>
                                <li> <a href="shop-grid-right.html"><i class="evara-font-smartphone"></i> Cellphones</a>
                                </li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-desktop"></i>Computer &
                                        Office</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-cpu"></i>Consumer
                                        Electronics</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-home"></i>Home & Garden</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-high-heels"></i>Shoes</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-teddy-bear"></i>Mother &
                                        Kids</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-kite"></i>Outdoor fun</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- mobile menu start -->
                    <nav>
                        <ul class="mobile-menu">
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                    href="/home-page">Home</a>
                                
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                    href="shop-grid-">shop</a>
                                <ul class="dropdown">
                                    <li><a href="shop-grid-right.html">Shop Grid – Right Sidebar</a></li>
                                    <li><a href="shop-grid-left.html">Shop Grid – Left Sidebar</a></li>
                                    <li><a href="shop-list-right.html">Shop List – Right Sidebar</a></li>
                                    <li><a href="shop-list-left.html">Shop List – Left Sidebar</a></li>
                                    <li><a href="shop-fullwidth.html">Shop - Wide</a></li>
                                    <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                            href="#">Single Product</a>
                                        <ul class="dropdown">
                                            <li><a href="shop-product-right.html">Product – Right Sidebar</a></li>
                                            <li><a href="shop-product-left.html">Product – Left Sidebar</a></li>
                                            <li><a href="shop-product-full.html">Product – No sidebar</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="shop-filter.html">Shop – Filter</a></li>
                                    <li><a href="shop-wishlist.html">Shop – Wishlist</a></li>
                                    <li><a href="shop-cart.html">Shop – Cart</a></li>
                                    <li><a href="shop-checkout.html">Shop – Checkout</a></li>
                                    <li><a href="shop-compare.html">Shop – Compare</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Mega
                                    menu</a>
                                <ul class="dropdown">
                                    <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                            href="#">Women's Fashion</a>
                                        <ul class="dropdown">
                                            <li><a href="shop-product-right.html">Dresses</a></li>
                                            <li><a href="shop-product-right.html">Blouses & Shirts</a></li>
                                            <li><a href="shop-product-right.html">Hoodies & Sweatshirts</a></li>
                                            <li><a href="shop-product-right.html">Women's Sets</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                            href="#">Men's Fashion</a>
                                        <ul class="dropdown">
                                            <li><a href="shop-product-right.html">Jackets</a></li>
                                            <li><a href="shop-product-right.html">Casual Faux Leather</a></li>
                                            <li><a href="shop-product-right.html">Genuine Leather</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                            href="#">Technology</a>
                                        <ul class="dropdown">
                                            <li><a href="shop-product-right.html">Gaming Laptops</a></li>
                                            <li><a href="shop-product-right.html">Ultraslim Laptops</a></li>
                                            <li><a href="shop-product-right.html">Tablets</a></li>
                                            <li><a href="shop-product-right.html">Laptop Accessories</a></li>
                                            <li><a href="shop-product-right.html">Tablet Accessories</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                    href="blog-category-fullwidth.html">Blog</a>
                                <ul class="dropdown">
                                    <li><a href="blog-category-grid.html">Blog Category Grid</a></li>
                                    <li><a href="blog-category-list.html">Blog Category List</a></li>
                                    <li><a href="blog-category-big.html">Blog Category Big</a></li>
                                    <li><a href="blog-category-fullwidth.html">Blog Category Wide</a></li>
                                    <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                            href="#">Single Product Layout</a>
                                        <ul class="dropdown">
                                            <li><a href="blog-post-left.html">Left Sidebar</a></li>
                                            <li><a href="blog-post-right.html">Right Sidebar</a></li>
                                            <li><a href="blog-post-fullwidth.html">No Sidebar</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="page-about.html">About Us</a></li>
                                    <li><a href="page-contact.html">Contact</a></li>
                                    <li><a href="page-account.html">My Account</a></li>
                                    <li><a href="page-login-register.html">login/register</a></li>
                                    <li><a href="page-purchase-guide.html">Purchase Guide</a></li>
                                    <li><a href="page-privacy-policy.html">Privacy Policy</a></li>
                                    <li><a href="page-terms.html">Terms of Service</a></li>
                                    <li><a href="page-404.html">404 Page</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Language</a>
                                <ul class="dropdown">
                                    <li><a href="#">English</a></li>
                                    <li><a href="#">French</a></li>
                                    <li><a href="#">German</a></li>
                                    <li><a href="#">Spanish</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <!-- mobile menu end -->
                </div>
                <div class="mobile-header-info-wrap mobile-header-border">
                    <div class="single-mobile-header-info mt-30">
                        <a href="page-contact.html"> Our location </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="page-login-register.html">Log In / Sign Up </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="#">(+01) - 2345 - 6789 </a>
                    </div>
                </div>
                <div class="mobile-social-icon">
                    <h5 class="mb-15 text-grey-4">Follow Us</h5>
                    <a href="#"><img src="/public/user-assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                    <a href="#"><img src="/public/user-assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                    <a href="#"><img src="/public/user-assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                    <a href="#"><img src="/public/user-assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                    <a href="#"><img src="/public/user-assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="home-page" rel="nofollow">Home</a>
                    <span></span> Pages
                    <span></span> Account
                </div>
            </div>
        </div>
        <section class="pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="dashboard-menu">
                                    <ul class="nav flex-column" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="dashboard-tab" data-bs-toggle="tab"
                                                href="#dashboard" role="tab" aria-controls="dashboard"
                                                aria-selected="false"><i
                                                    class="fi-rs-settings-sliders mr-10"></i>Dashboard</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="account-detail-tab" data-bs-toggle="tab"
                                                href="#account-detail" role="tab" aria-controls="account-detail"
                                                aria-selected="true"><i class="fi-rs-user mr-10"></i>Account details</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="orders-tab" data-bs-toggle="tab" href="#orders"
                                                role="tab" aria-controls="orders" aria-selected="false"><i
                                                    class="fi-rs-shopping-bag mr-10"></i>Orders</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="add-address-tab" data-bs-toggle="tab"
                                                href="#add-address" role="tab" aria-controls="address"
                                                aria-selected="true"><i class="fi-rs-marker mr-10"></i>Add Address</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="account-security-tab" data-bs-toggle="tab"
                                                href="#account-security" role="tab" aria-controls="account-security"
                                                aria-selected="false"><i class="fi-rs-user mr-10"></i>Account
                                                security</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="address-tab" data-bs-toggle="tab" href="#address"
                                                role="tab" aria-controls="add-address" aria-selected="true"><i
                                                    class="fi-rs-marker mr-10"></i>My Address</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" id="wallet-detail-tab" data-bs-toggle="tab"
                                                href="#wallet" role="tab" aria-controls="wallet-detail"
                                                aria-selected="true"><i class="fi-rs-user mr-10"></i>Wallet</a>
                                        </li>   

                                        <li class="nav-item">
                                            <a class="nav-link" href="/logout"><i
                                                    class="fi-rs-sign-out mr-10"></i>Logout</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="tab-content dashboard-content">
                                    <div class="tab-pane fade active show" id="dashboard" role="tabpanel"
                                        aria-labelledby="dashboard-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="mb-0">Hello <%= userData.name %>
                                                </h5>
                                            </div>
                                            <div class="card-body">
                                                <p>From your account dashboard. you can easily check &amp; view your <a
                                                        href="#">recent orders</a>, manage your <a href="#">shipping and
                                                        billing addresses</a> and <a href="#">edit your password and
                                                        account details.</a></p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="mb-0">Your Orders</h5>
                                            </div>
                                            <div class="card-body ">
                                                <div class="table-responsive container">
                                                    <table class="table" id="orderTable">
                                                        <thead>
                                                            <tr>
                                                                <th>Order</th>
                                                                <th>Date</th>

                                                                <th>Total</th>

                                                                <th>View</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <% orderDetails.forEach(element=> { %>
                                                                <tr>
                                                                    <td>#<%= element.orderId %>
                                                                    </td>
                                                                    <td>
                                                                        <%= element.formattedDate %>
                                                                    </td>

                                                                    <td>
                                                                        <%= element.formattedTotal %> for <%=
                                                                                element.quantity %> item
                                                                    </td>

                                                                    <td>
                                                                        <a href="/orderDetails/<%=element._id%>"
                                                                            class="btn-small d-block text-primary">View</a>
                                                                    </td>
                                                                </tr>

                                                                <% }) %>


                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="account-detail" role="tabpanel"
                                        aria-labelledby="account-detail-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5>Account Details</h5>
                                            </div>
                                            <div class="card-body">
                                                <form method="post" name="enq" id="userDetailsForm">
                                                    <div class="row">
                                                        <div class="form-group col-md-6">
                                                            <label>Name <span class="required">*</span></label>
                                                            <input required="" class="form-control square" name="name"
                                                                type="text" id="name" value="<%= userData.name %>">
                                                            <span id="nameError" class="text-danger"></span>
                                                        </div>
                                                        <!-- <div class="form-group col-md-6">
                                                            <label>Email Address <span class="required">*</span></label>
                                                            <input required="" class="form-control square" name="email"
                                                                type="email" id="email" value=""
                                                                readonly>
                                                            <span id="emailError" class="text-danger"></span>
                                                        </div> -->
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group col-md-6">
                                                            <label>Mobile No: <span class="required">*</span></label>
                                                            <input required="" class="form-control square" name="mobile"
                                                                type="number" id="mobile"
                                                                value="<%= userData.mobile %>">
                                                            <span id="mobileError" class="text-danger"></span>
                                                        </div>


                                                        <div class="form-group col-md-6">
                                                            <label>Current Password <span
                                                                    class="required">*</span></label>
                                                            <input required="" class="form-control square"
                                                                name="password" id="password" type="password">
                                                            <span class="text-danger" id="passwordError"></span>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <button type="submit" class="btn btn-fill-out submit"
                                                                name="submit" value="Submit">Save</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="mb-0">Your Orders</h5>
                                            </div>
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>Order</th>
                                                                <th>Date</th>
                                                                <th>Status</th>
                                                                <th>Total</th>
                                                                <th>Actions</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>#1357</td>
                                                                <td>March 45, 2020</td>
                                                                <td>Processing</td>
                                                                <td>$125.00 for 2 item</td>
                                                                <td><a href="#" class="btn-small d-block">View</a></td>
                                                            </tr>
                                                            <tr>
                                                                <td>#2468</td>
                                                                <td>June 29, 2020</td>
                                                                <td>Completed</td>
                                                                <td>$364.00 for 5 item</td>
                                                                <td><a href="#" class="btn-small d-block">View</a></td>
                                                            </tr>
                                                            <tr>
                                                                <td>#2366</td>
                                                                <td>August 02, 2020</td>
                                                                <td>Completed</td>
                                                                <td>$280.00 for 3 item</td>
                                                                <td><a href="#" class="btn-small d-block">View</a></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="add-address" role="tabpanel"
                                        aria-labelledby="add-address-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="mb-0">Add Address</h5>
                                            </div>
                                            <div class="card-body">
                                                <form name="formAddress" id="formAddress">
                                                    <div class="row">
                                                        <div class="form-group col-md-12">
                                                            <label>House Name/No.<span class="required">*</span></label>
                                                            <input class="form-control square" name="housename"
                                                                type="text" id="housename">
                                                            <span id="house-error" class="text-danger"></span>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label>Street Name <span class="required">*</span></label>
                                                            <input class="form-control square" name="streetname"
                                                                type="text" id="streetname">
                                                            <span id="street-error" class="text-danger"></span>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label>Area/Locality<span class="required">*</span></label>
                                                            <input class="form-control square" name="areaname"
                                                                type="text" id="areaname">
                                                            <span id="area-error" class="text-danger"></span>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label>District<span class="required">*</span></label>
                                                            <input class="form-control square" name="districtname"
                                                                type="text" id="districtname">
                                                            <span id="district-error" class="text-danger"></span>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label>State<span class="required">*</span></label>
                                                            <input class="form-control square" name="statename"
                                                                type="text" id="statename">
                                                            <span id="state-error" class="text-danger"></span>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label>Country<span class="required">*</span></label>
                                                            <input class="form-control square" name="countryname"
                                                                type="text" id="countryname">
                                                            <span id="country-error" class="text-danger"></span>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label>PIN <span class="required">*</span></label>
                                                            <input class="form-control square" name="pin" type="number"
                                                                id="pin">
                                                            <span id="pincode-error" class="text-danger"></span>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <button type="submit" class="btn btn-fill-out submit"
                                                                id="formButton">Save</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal fade" id="editAddressModal" tabindex="-1"
                                        aria-labelledby="editAddressModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="editCategoryModalLabel">Edit Address
                                                    </h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form id="editAddressForm">
                                                        <input class="form-control square" name="addressid" type="text"
                                                            id="addressid1" hidden>
                                                        <div class="form-group col-md-12">
                                                            <label>House Name/No.<span class="required">*</span></label>
                                                            <input class="form-control square" name="housename"
                                                                type="text" id="housename1">
                                                            <span id="house-error" class="text-danger"></span>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label>Street Name <span class="required">*</span></label>
                                                            <input class="form-control square" name="streetname"
                                                                type="text" id="streetname1">
                                                            <span id="street-error" class="text-danger"></span>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label>Area/Locality<span class="required">*</span></label>
                                                            <input class="form-control square" name="areaname"
                                                                type="text" id="areaname1">
                                                            <span id="area-error" class="text-danger"></span>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label>District<span class="required">*</span></label>
                                                            <input class="form-control square" name="districtname"
                                                                type="text" id="districtname1">
                                                            <span id="district-error" class="text-danger"></span>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label>State<span class="required">*</span></label>
                                                            <input class="form-control square" name="statename"
                                                                type="text" id="statename1">
                                                            <span id="state-error" class="text-danger"></span>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label>Country<span class="required">*</span></label>
                                                            <input class="form-control square" name="countryname"
                                                                type="text" id="countryname1">
                                                            <span id="country-error" class="text-danger"></span>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label>PIN <span class="required">*</span></label>
                                                            <input class="form-control square" name="pin" type="text"
                                                                id="pin1">
                                                            <span id="pin-error" class="text-danger"></span>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <button type="submit"
                                                                class="btn btn-fill-out submit">Save</button>
                                                        </div>
                                                    </form>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="account-security" role="tabpanel"
                                        aria-labelledby="account-security-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5>Account Security</h5>
                                            </div>
                                            <div class="card-body">
                                                <form name="changePasswordForm" id="changePasswordForm">
                                                    <div>
                                                        <div class="form-group col-md-6">
                                                            <label>Old Password<span class="required"></span></label>
                                                            <input required="" class="form-control square"
                                                                name="oldPassword" id="oldPassword" type="password">
                                                            <span id="oldPasswordError" class="text-danger"></span>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label>New Password<span class="required"></span></label>
                                                            <input required="" class="form-control square"
                                                                name="newPassword" id="newPassword" type="password">
                                                            <span id="newPasswordError" class="text-danger"></span>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label>Confirm Password<span
                                                                    class="required"></span></label>
                                                            <input required="" class="form-control square"
                                                                name="confirmPassword" id="confirmPassword"
                                                                type="password">
                                                            <span id="confirmPasswordError" class="text-danger"></span>
                                                        </div>

                                                        <!-- Add more address fields as needed -->
                                                    </div>
                                                    <div class="d-flex">
                                                        <div class="col-md-4">
                                                            <button type="submit" class="btn btn-fill-out submit"
                                                                value="Submit">Save</button>
                                                        </div>
                                                </form>
                                            </div>
                                        </div>

                                    </div>
                                </div>


                                <div class="tab-pane fade  show " id="wallet" role="tabpanel"
                                aria-labelledby="wallet-detail-tab">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="mb-0">Your Wallet <br> (Avialable Balance: <span
                                                class="text-primary"></span> )
                                        </h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive container">
                                            <table class="table" id="walletTable">
                                                <thead>
                                                    <tr>
                                                        <th>Transaction Id</th>
                                                        <th>Date</th>

                                                        <th>Amount</th>

                                                        <th>Transaction Type</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                  
                                                    <% for( let i=0; i <walletData.wallet.details.length; i++ )
                                                    { %>
                                                    <tr>
                                                        <td>
                                                            <%= walletData.wallet.details[i].transactionId
                                                                %>
                                                        </td>
                                                        <td>
                                                            <%= walletData.wallet.details[i].formattedDate
                                                                %>
                                                        </td>

                                                        <td>₹ <%= walletData.wallet.details[i].amount %>
                                                        </td>

                                                        <td width="10%">
                                                            <%= walletData.wallet.details[i].type %>


                                                        </td>

                                                    </tr>
                                                    <% } %>
                                                


                                                </tbody>
                                            </table>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">
                                    <div class="row">
                                        <% userData.address.forEach(function(address) { %>
                                            <div class="col-lg-3">
                                                <div class="card mb-3 mb-lg-0">
                                                    <div class="card-header">
                                                        <h5 class="mb-0"> Address</h5>
                                                    </div>
                                                    <div class="card-body">
                                                        <input type="radio" class="form-check-input"
                                                            name="selectedAddress" value="<%= address._id %>">
                                                        <address>
                                                            <%= address.housename %><br>
                                                                <%= address.streetname %><br>
                                                                    <%= address.areaname %><br>
                                                                        <%= address.districtname %><br>
                                                                            <%= address.statename %><br>
                                                                                <%= address.pin %><br>
                                                        </address>
                                                        <p>
                                                            <%= address.countryname %>
                                                        </p>
                                                        <button href="#" class="btn-small"
                                                            onclick="editAddress('<%=userData._id %>','<%=address._id%>')">Edit</button>

                                                        <button href="#" class="btn-small delete-Button"
                                                            style="background-color: lightskyblue; color: black;"
                                                            onclick="deleteAddress('<%=address._id %>')">Delete</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <% }); %>
                                    </div>
                                </div>

                           

                        </div>
                    </div>
                </div>
            </div>
            </div>
            </div>
        </section>
    </main>
    <footer class="main">
        <section class="newsletter p-30 text-white wow fadeIn animated">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 mb-md-3 mb-lg-0">
                        <div class="row align-items-center">
                            <div class="col flex-horizontal-center">
                                <img class="icon-email" src="/public/user-assets/imgs/theme/icons/icon-email.svg"
                                    alt="">
                                <h4 class="font-size-20 mb-0 ml-3">Sign up to Newsletter</h4>
                            </div>
                            <div class="col my-4 my-md-0 des">
                                <h5 class="font-size-15 ml-4 mb-0">...and receive <strong>$25 coupon for first
                                        shopping.</strong></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                      
                        <form class="form-subcriber d-flex wow fadeIn animated">
                            <input type="email" class="form-control bg-white font-small" placeholder="Enter your email">
                            <button class="btn bg-dark text-white" type="submit">Subscribe</button>
                        </form>
                       
                    </div>
                </div>
            </div>
        </section>
        <section class="section-padding footer-mid">
            <div class="container pt-15 pb-20">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="widget-about font-md mb-md-5 mb-lg-0">
                            <div class="logo logo-width-1 wow fadeIn animated">
                                <a href="index.html"><img src="/public/image/fashion club logo.jpg " alt="logo"></a>
                            </div>
                            <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
                            <p class="wow fadeIn animated">
                                <strong>Address: </strong>562 Wellington Road, Street 32, San Francisco
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Phone: </strong>+01 2222 365 /(+91) 01 2345 6789
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Hours: </strong>10:00 - 18:00, Mon - Sat
                            </p>
                            <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
                            <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                                <a href="#"><img src="/public/user-assets/imgs/theme/icons/icon-facebook.svg"
                                        alt=""></a>
                                <a href="#"><img src="/public/user-assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                                <a href="#"><img src="/public/user-assets/imgs/theme/icons/icon-instagram.svg"
                                        alt=""></a>
                                <a href="#"><img src="/public/user-assets/imgs/theme/icons/icon-pinterest.svg"
                                        alt=""></a>
                                <a href="#"><img src="/public/user-assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <h5 class="widget-title wow fadeIn animated">About</h5>
                        <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Delivery Information</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms &amp; Conditions</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Support Center</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2  col-md-3">
                        <h5 class="widget-title wow fadeIn animated">My Account</h5>
                        <ul class="footer-list wow fadeIn animated">
                            <li><a href="#">Sign In</a></li>
                            <li><a href="#">View Cart</a></li>
                            <li><a href="#">My Wishlist</a></li>
                            <li><a href="#">Track My Order</a></li>
                            <li><a href="#">Help</a></li>
                            <li><a href="#">Order</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <h5 class="widget-title wow fadeIn animated">Install App</h5>
                        <div class="row">
                            <div class="col-md-8 col-lg-12">
                                <p class="wow fadeIn animated">From App Store or Google Play</p>
                                <div class="download-app wow fadeIn animated">
                                    <a href="#" class="hover-up mb-sm-4 mb-lg-0"><img class="active"
                                            src="/public/user-assets/imgs/theme/app-store.jpg" alt=""></a>
                                    <a href="#" class="hover-up"><img
                                            src="/public/user-assets/imgs/theme/google-play.jpg" alt=""></a>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-12 mt-md-3 mt-lg-0">
                                <p class="mb-20 wow fadeIn animated">Secured Payment Gateways</p>
                                <img class="wow fadeIn animated" src="/public/user-assets/imgs/theme/payment-method.png"
                                    alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container pb-20 wow fadeIn animated">
            <div class="row">
                <div class="col-12 mb-20">
                    <div class="footer-bottom"></div>
                </div>
                <div class="col-lg-6">
                    <p class="float-md-left font-sm text-muted mb-0">&copy; 2022, <strong
                            class="text-brand">Evara</strong> - HTML Ecommerce Template </p>
                </div>
                <div class="col-lg-6">
                    <p class="text-lg-end text-start font-sm text-muted mb-0">
                        Designed by <a href="http://alithemes.com/" target="_blank">Alithemes.com</a>. All rights
                        reserved
                    </p>
                </div>
            </div>
        </div>
    </footer>
  
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/public/user-assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/public/user-assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/public/user-assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="/public/user-assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/public/user-assets/js/plugins/slick.js"></script>
    <script src="/public/user-assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/public/user-assets/js/plugins/wow.js"></script>
    <script src="/public/user-assets/js/plugins/jquery-ui.js"></script>
    <script src="/public/user-assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="/public/user-assets/js/plugins/magnific-popup.js"></script>
    <script src="/public/user-assets/js/plugins/select2.min.js"></script>
    <script src="/public/user-assets/js/plugins/waypoints.js"></script>
    <script src="/public/user-assets/js/plugins/counterup.js"></script>
    <script src="/public/user-assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="/public/user-assets/js/plugins/images-loaded.js"></script>
    <script src="/public/user-assets/js/plugins/isotope.js"></script>
    <script src="/public/user-assets/js/plugins/scrollup.js"></script>
    <script src="/public/user-assets/js/plugins/jquery.vticker-min.js"></script>
    <script src="/public/user-assets/js/plugins/jquery.theia.sticky.js"></script>
 
    <script src="/public/user-assets/js/maind134.js?v=3.4"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.6.1/toastify.min.js"></script>
   
    <script>

        document.addEventListener('DOMContentLoaded', (event) => {
            const urlParams = new URLSearchParams(window.location.search);
            const tab = urlParams.get('tab');
            if (tab) {
                let newTab = new bootstrap.Tab(document.querySelector(`#${tab}-tab`));
                if (newTab) {
                    newTab.show();
                }
            }
        });
        </script>

    <script>

        $(document).ready(function () {
            $("#formAddress").submit(function (event) {
                const result = validateForm2();
                console.log(result)
                event.preventDefault();
                if (result) {
                    var formData = $(this).serialize();
                    $.ajax({
                        url: "/addAddress",
                        method: "PATCH",
                        data: formData,
                        success: (response) => {
                            console.log(response);
                            if (response.success) {
                                console.log(response.success, 'fdgfdg');
                                Toastify({

                                    text: `Address Added`,
                                    duration: 3000,
                                    gravity: "top",
                                    position: "center",
                                    stopOnFocus: true,
                                    style: {
                                        background: "linear-gradient(to right, aqua, blue)",
                                    },
                                }).showToast();
                                setTimeout(() => {
                                    location.reload();
                                }, 1000);

                            } else {
                                Toastify({
                                    text: `Address Added`,
                                    duration: 3000,
                                    gravity: "top",
                                    position: "center",
                                    stopOnFocus: true,
                                    style: {
                                        background: "linear-gradient(to right, red, white)",
                                    },
                                }).showToast();
                            }
                        }

                    })
                }
            })
        })


    </script>

    <script>
        $(document).ready(function () {
            $("#userDetailsForm").submit(function (event) {
                event.preventDefault();
                const validate = validateForm();
                console.log(validate);
                if (validate) {
                    let data = $(this).serialize();
                    console.log(data + "hi")
                    $.ajax({
                        url: "/updateUser",
                        method: "PUT",
                        data: data,
                        success: (response) => {
                            if (response.status) {
                                Toastify({
                                    text: `Account Details Updated`,
                                    duration: 3000,
                                    gravity: "top",
                                    position: "center",
                                    stopOnFocus: true,
                                    style: {
                                        background: "linear-gradient(to right, aqua, blue)",
                                    },
                                }).showToast();
                                setTimeout(() => {
                                    location.reload();
                                }, 1000);
                            } else {
                                document.getElementById("passwordError").innerHTML = `${response.message}`;

                            }
                        }
                    })
                }


            })
        })
    </script>

    <script>
        document.getElementById("changePasswordForm").addEventListener("submit", function (event) {
            event.preventDefault();
            const valid = validateForm1()
            if (valid) {
                let formdata = $(this).serialize();
                console.log("hey " + formdata);
                $.ajax({
                    url: "/updatePassword",
                    method: "PUT",
                    data: formdata,
                    success: (response) => {
                        console.log(response);
                        Toastify({
                            text: "Password Updated",
                            duration: 3000, // 3 seconds
                            gravity: "top", // Display at the top of the screen
                            position: "center", // Centered horizontally
                            backgroundColor: "green", // Set the background color to green
                        }).showToast();
                        // Handle success, e.g., close the modal and refresh the page

                        setTimeout(() => {
                            location.reload();
                        }, 1000);

                    },
                    error: (xhr, status, error) => {
                        console.log(error);
                        // Handle the error and provide user feedback if necessary
                    }
                });
            }
        })

    </script>





    <script>
        function validateForm() {
            const nameRegex = /^[a-zA-Z\s]+$/;
            const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            const mobileRegex = /^\d{10}$/;
            const passwordRegex = /^(?=.[A-Za-z])(?=.\d)(?=.*[^A-Za-z\d]).{8,}$/;
            let isValid = true
            if (!nameRegex.test(document.getElementById("name").value)) {
                document.getElementById("nameError").innerHTML = "Invalid Format(should only contain letters and spaces.)";
                isValid = false;
            } else {
                document.getElementById("nameError").innerHTML = '';
            }
            if (!emailRegex.test(document.getElementById("email").value)) {
                document.getElementById("emailError").innerHTML = "Invalid Email";
                isValid = false;
            } else {
                document.getElementById("emailError").innerHTML = ""
            }
            if (!mobileRegex.test(document.getElementById("mobile").value)) {
                document.getElementById("mobileError").innerHTML = "Invalid Mobile Number";
                isValid = false;
            } else {
                document.getElementById("mobileError").innerHTML = ""
            }

            return isValid;
        }
    </script>

    <script>
        function validateForm1() {
            let isValid = true;
            const passwordRegex = /^(?=.*[A-Z])(?=.*[a-z])(?=.*\d|[^A-Za-z0-9\s])[\S]{8,}$/;
            if (document.getElementById("oldPassword").value.trim() === "") {
                document.getElementById("oldPasswordError").innerHTML = "Required*";
                isValid = false;
            }
            if (document.getElementById("newPassword").value.trim() === "") {
                document.getElementById("newPasswordError").innerHTML = "Required*";
                isValid = false;
            }
            if (document.getElementById("confirmPassword").value.trim() === "") {
                document.getElementById("confirmPasswordError").innerHTML = "Required*";
                isValid = false;
            }

            if (!passwordRegex.test(document.getElementById("newPassword").value)) {
                console.log(document.getElementById("newPassword").value)
                document.getElementById("newPasswordError").innerHTML = "Password must be at least 8 characters and should contain an uppercase letter, number, or special symbol.";
                isValid = false;
            }
            if (document.getElementById("oldPassword").value.trim() === document.getElementById("newPassword").value.trim()) {
             console.log(document.getElementById("oldPassword").value);
             console.log(document.getElementById("newPassword").value);
            document.getElementById("confirmPasswordError").innerHTML = "Please enter a new password different from the old one.";
             isValid = false;
            } else if (document.getElementById("newPassword").value && document.getElementById("newPassword").value !== document.getElementById("confirmPassword").value) {
          document.getElementById("confirmPasswordError").innerHTML = "Password doesn't match";
            isValid = false;
            } else {
              document.getElementById("confirmPasswordError").innerHTML = "";
            }

        }

    </script>

    <script>/////////////////VALIDATION//////////////////////////
        function validateForm2() {

            const houseRegex = /^[a-zA-Z0-9\s]+$/;
            const streetRegex = /^[a-zA-Z\s]+$/;
            const areaRegex = /^[a-zA-Z\s]+$/;
            const districtRegex = /^[a-zA-Z\s]+$/;
            const stateRegex = /^[a-zA-Z ]+$/;
            const countryRegex = /^[a-zA-Z ]+$/;
            const pincodeRegex = /^\d{6}$/;
            let isValid = true;


            if (!houseRegex.test(document.getElementById("housename").value)) {
                document.getElementById("house-error").innerHTML = "Invalid Format";
                isValid = false;
            } else {
                document.getElementById("house-error").innerHTML = "";
            }

            if (!streetRegex.test(document.getElementById("streetname").value)) {
                document.getElementById("street-error").innerHTML = "Invalid";
                isValid = false;
            } else {
                document.getElementById("street-error").innerHTML = "";
            }

            if (!areaRegex.test(document.getElementById("areaname").value)) {
                document.getElementById("area-error").innerHTML = "Invalid";
                isValid = false;
            } else {
                document.getElementById("area-error").innerHTML = "";
            }

            if (!districtRegex.test(document.getElementById("districtname").value)) {
                document.getElementById("district-error").innerHTML = "Invalid";
                isValid = false;
            } else {
                document.getElementById("district-error").innerHTML = "";
            }

            if (!stateRegex.test(document.getElementById("statename").value)) {
                document.getElementById("state-error").innerHTML = "Invalid";
                isValid = false;
            } else {
                document.getElementById("state-error").innerHTML = "";
            }

            if (!countryRegex.test(document.getElementById("countryname").value)) {
                document.getElementById("country-error").innerHTML = "Invalid";
                isValid = false;
            } else {
                document.getElementById("country-error").innerHTML = "";
            }

            if (!pincodeRegex.test(document.getElementById("pin").value)) {
                document.getElementById("pincode-error").innerHTML = "Invalid Pincode (should be 6 digits)";
                isValid = false;
            } else {
                document.getElementById("pincode-error").innerHTML = "";
            }

            return isValid;
        }
        document.getElementById("formButton").addEventListener("click", (e) => {
            const result = validateForm2();
            console.log(result)

            if (!result) {
                e.preventDefault();
            }
        })

    </script>

    <script>////////MODAL////////////////
        function editAddress(userId, addressId) {
            console.log("clicked addressEdit", userId, addressId);
            $.ajax({
                url: "/addressEditor/" + userId + "/" + addressId,
                method: 'GET',
            })
                .done((response) => {
                    console.log("this is ajax for add modal", response);
                    if (response) {
                        document.getElementById('addressid1').value = response.addressData._id;
                        document.getElementById('housename1').value = response.addressData.housename;
                        document.getElementById('streetname1').value = response.addressData.streetname;
                        document.getElementById('areaname1').value = response.addressData.areaname;
                        document.getElementById('districtname1').value = response.addressData.districtname;
                        document.getElementById('statename1').value = response.addressData.statename;
                        document.getElementById('countryname1').value = response.addressData.countryname;
                        document.getElementById('pin1').value = response.addressData.pin;
                        $("#editAddressModal").modal("show");

                    }
                })
                .fail((error) => {
                    console.log(error);
                })

        }


    </script>

    <script>
        ///////////////////EDIT-IN-MODAL////////////////////
        document.getElementById("editAddressForm").addEventListener("submit", function (event) {
            event.preventDefault();
            const valid = validateForm4()
            if(valid){
            let formdata = $(this).serialize();
            let addressId = $(this).find('input[name="addressid"]').val();
      
            console.log("address id :", addressId)
            $.ajax({
                url: "/editAddress/" + addressId,
                method: "PUT",
                data: formdata,
                success: (response) => {
                    console.log(response);
                    Toastify({
                        text: "Address Updated",
                        duration: 3000,
                        gravity: "top",
                        position: "center",
                        backgroundColor: "green",
                    }).showToast();

                    $("#editAddressModal").modal("hide");
                    setTimeout(() => {
                        location.reload();
                    }, 1000);

                },
                error: (xhr, status, error) => {
                    console.log(error);

                }
            });
        }
        })
    </script>

    <script>
        const deleteAddress = (addressId) => {
            Swal.fire({
                title: 'Are you sure?',
                text: 'You will not be able to recover this address!',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, delete it!',
                cancelButtonText: 'Cancel',
                reverseButtons: true,
            }).then((response) => {
                console.log(response);

                if (response.isConfirmed) {
                    console.log(response.isConfirmed);
                    $.ajax({
                        url: `/deleteAddress/${addressId}`,
                        type: 'PUT'
                    }).done(response => {
                        Swal.fire("Successfull", `Address Deleted`, "success").then(() => {
                            location.reload();
                        })
                    }).fail((error) => {
                        Swal.fire("Successfull", `${error.responseJSON.message}`, "success").then(() => {
                            location.reload()
                        })
                    })
                }
            })
        }

    </script>
    <script>/////////////////add address VALIDATION//////////////////////////


  function validateForm4() {

    const houseRegex = /^(?!\s*$)[a-zA-Z0-9\s]+$/; // Allow letters, numbers, and spaces
    const streetRegex = /^(?!\s*$)[a-zA-Z\s]+$/; // Allow letters and spaces
    const areaRegex = /^(?!\s*$)[a-zA-Z\s]+$/; // Allow letters and spaces
    const districtRegex = /^(?!\s*$)[a-zA-Z\s]+$/; // Allow letters and spaces
    const stateRegex = /^(?!\s*$)[a-zA-Z\s]+$/; // Allow letters and spaces
    const countryRegex = /^(?!\s*$)[a-zA-Z\s]+$/; // Allow letters and spaces
    const pincodeRegex = /^\d{6}$/; 
    let isValid = true;


    if (!houseRegex.test(document.getElementById("housename1").value)) {
      
        document.getElementById("house-error").innerHTML = "Invalid Format";
        isValid = false;
        
    } else {
        document.getElementById("house-error").innerHTML = "";
    }

    if (!streetRegex.test(document.getElementById("streetname1").value)) {
        document.getElementById("street-error").innerHTML = "Invalid";
        isValid = false;
    } else {
        document.getElementById("street-error").innerHTML = "";
    }

    if (!areaRegex.test(document.getElementById("areaname1").value)) {
        document.getElementById("area-error").innerHTML = "Invalid";
        isValid = false;
    } else {
        document.getElementById("area-error").innerHTML = "";
    }

    if (!districtRegex.test(document.getElementById("districtname1").value)) {
        document.getElementById("district-error").innerHTML = "Invalid";
        isValid = false;
    } else {
        document.getElementById("district-error").innerHTML = "";
    }

    if (!stateRegex.test(document.getElementById("statename1").value)) {
        document.getElementById("state-error").innerHTML = "Invalid";
        isValid = false;
    } else {
        document.getElementById("state-error").innerHTML = "";
    }

    if (!countryRegex.test(document.getElementById("countryname1").value)) {
       
        document.getElementById("country-error").innerHTML = "Invalid";
        isValid = false;
    } else {
        document.getElementById("country-error").innerHTML = "";
    }

    if (!pincodeRegex.test(document.getElementById("pin1").value)) {
        document.getElementById("pin-error").innerHTML = "Invalid Pincode (should be 6 digits)";
        isValid = false;
    } else {
        document.getElementById("pin-error").innerHTML = "";
    }

    return isValid;
}
document.getElementById("formAddress").addEventListener("submit", (e) => {
    const result = validateForm4();
    console.log(result)
    if (!result) {
        e.preventDefault();
    }
})
</script>

</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/page-account.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:11:15 GMT -->

</html>